*{
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif; 
}

.header-image {
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-image: url("../images/creative.png");
  margin-bottom: 4vh;
  padding-top: 10vh;
}

/* Turn the profile image into a circle */
.profile-container{
  width: 40vh; 
  height: 40vh; 
  border-radius: 50%; 
  overflow: hidden; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style the image inside the container */
.profile-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* Style the content of the profile */
.profile-details{
  color:rgb(5, 68, 169);
  position: relative;
}

.profile-detail{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px
}

