/* Reset body spacing to remove unwanted white space */
body {
  margin: 0;
  padding: 0;
}

/* Navbar container */
.navbar {
  background-color: #130F25;
  padding: 15px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* The div holding the menu items */
.nav-items {
  display: flex;
  justify-content: center; /* centers items horizontally */
  gap: 40px; /* space between items */
}

/* Each item */
.nav-items h3 {
  color: #ffffff;
  margin: 0;
  font-size: clamp(16px, 2.5vh, 24px);
  cursor: pointer;
  font-family: "Arial", sans-serif; 
}

.nav-items h3 a {
  text-decoration: none; 
  color: inherit;        
}


/* Hover effect */
.nav-items h3:hover {
  color: #00adb5;
  transform: translateY(-2px);
}

/* Responsive behavior when screen is smaller*/
@media (max-width: 600px) {
  .nav-items {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}