.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem; 
    margin-top: 3rem;
    font-family: "Arial", sans-serif;
}

.intro {
    text-align: center;
    margin-bottom: -5vh;
}

.intro h1,
.intro p {
    margin: 1rem 0;  
}


.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project img {
    width: 45%;
    height: auto;
    border-radius: 1rem;
}

.project-details {
    width: 50%;
}

.project-details h2 {
    font-size: 1.5vw;
    margin-bottom: 0.5rem;
}

.project-details p {
    font-size: 1vw;
    margin-bottom: 1rem;
}

.project-details a {
    font-size: 1vw;
    color: #F15042;
    text-decoration: none;
}

.project-details a:hover {
    text-decoration: underline;
}
