.detail2 {
    text-align: center;
    margin-top: 8rem;
    font-family: "Arial", sans-serif; 
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    font-size: 1.1vw;
}

.gallery p {
    margin: 0;
    font-weight: 500;
}

.gallery a {
    margin-left: 0.5ch; /* small space after the colon */
    color: #F15042;
    text-decoration: none;
    font-size: 1vw;
}

.gallery a:hover {
    text-decoration: underline;
}


/* Responsive tweaks */
@media (max-width: 768px) {
    .gallery {
        font-size: 3vw;
    }
}
