.detail2 {
  text-align: center;
  margin-top: 2rem;
  font-family: "Arial", sans-serif;
  font-size: 2vh;
}

.progress-container {
  width: 40%;
  /* Or a specific width */
  height: 20px;
  /* Height of the progress bar */
  background-color: #f3f3f3;
  /* Background color of the empty bar */
  border-radius: 10px;
  /* Rounded corners */
  overflow: hidden;
  /* Ensures the inner bar stays within the rounded corners */
}

.progress-bar {
  height: 100%;
  background-color: #4CAF50;
  /* Color of the filled portion */
  border-radius: 10px;
  /* Matches the container's rounded corners */
  transition: width 0.5s ease-in-out;
  /* Smooth transition for width changes */
}

.skill-row {
  display: flex;
  align-items: center;
  justify-content: center;
  /* centers the whole row */
  gap: 20px;
  margin: 20px 0;
}

.skill-label {
  width: 80px;
  /* Keeps label aligned */
  font-family: "Arial", sans-serif;
}

.skill-domain-label {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 0;
  font-size: 1.5vh;
  text-align: center;
}